*.pyc
*~
*.so
*.o
*.a
.cproject
.project
.pydevproject
.csettings
.settings
rave_config.h
config.log
config.status
.dep
def.mk
.ruby-version
test/pytest/cart_composite_avg.h5
test/pytest/cart_composite_distance.h5
test/pytest/cart_composite_first.h5
test/pytest/cart_composite_max.h5
test/pytest/cart_composite_min.h5
test/pytest/cartesian_cappi.h5
test/pytest/cartesian_pcappi.h5
test/pytest/cartesian_ppi.h5
test/pytest/ctop_polarscan.h5
test/pytest/ctop_polarvolume.h5
test/pytest/polgmaps_max_qitotal.h5
test/pytest/rixeecomposite.h5
test/pytest/swecomposite.h5
test/pytest/swecomposite_gmap.h5
test/pytest/swecomposite_gmap_overlapping.h5
test/pytest/swecomposite_ppi.h5
test/pytest/swecomposite_ppi_distancequality.h5
test/pytest/swecomposite_ppi_fromscan.h5
test/pytest/swecomposite_ppi_fromscan_byheight.h5
test/pytest/swecomposite_quality_field.h5
test/pytest/swemaxcomposite.h5
test/pytest/swemulticomposite.h5
test/pytest/swepseudomaxcomposite.h5

/nbproject/
/.ropeproject/
